{
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": false,
  "jsxBracketSameLine": false,
  "printWidth": 120
}
